.orange-bg,.white-grey {
    background: #62C3A5!important
}

.index-header .header-right .user-personal-btn,.text-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}
html {
    font-family: sans-serif;
}
body {
    position: relative;
    color: #292929;
}

a {
    color: #000;
    text-decoration: none
}

a:hover {
    cursor: pointer
}

.hide {
    display: none!important
}

.show {
    display: block!important
}

button,input,textarea {
    outline: 0
}

button,img {
    border: 0
}

li {
    list-style: none
}

table {
    border-collapse: collapse
}

td,tr {
    text-align: center
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 400
}

.text-green {
    color: #62C3A5!important
}

.text-grey {
    color: #a3a3a3
}

.text-white {
    color: #fff
}

.white-grey {
    color: #fff!important
}

.grey-bg {
    background: #969696!important
}

.text-left {
    text-align: left
}

.text-center {
    text-align: center
}

.text-right {
    text-align: right
}

.border-bottom-orange {
    width: 100%;
    border-bottom: 2px solid #62C3A5
}

.border-bottom-grey {
    width: 100%;
    border-bottom: 2px solid #ccc
}

.vertical-on {
    width: 5px;
    height: 30px;
    background: red;
    display: inline-block
}

.main {
    width: 1200px;
    margin: 0 auto
}

.document .header {
    font-size: 12px;
    color: #a3a3a3;
    height: 12px;
    margin-bottom: 14px
}
.document .header a{
    color:#a3a3a3;
}
.document .header a:hover{
    color:#62C3A5 !important;

}

.document .header img {
    margin: 0 12px
}

.comment-module {
    margin-top: 48px
}

.comment-module textarea {
    width: 100%;
    height: 86px
}

.comment-module button {
    width: 116px;
    height: 42px;
    background: #62C3A5;
    color: #fff;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    float: right;
    margin-top: 24px
}

.comment-module .hot-new-comment {
    margin-top: 70px;
    width: 100%
}

.comment-module .hot-new-comment .title {
    width: 300px;
    height: 22px;
    line-height: 22px;
    margin-left: 23px
}

.comment-module .hot-new-comment .title li {
    float: left;
    margin-right: 15px
}

.comment-module .hot-new-comment .title li.seperate-line {
    width: 1px;
    height: 22px;
    background: #cecece;

}

.comment-module .hot-new-comment li {
    font-size: 16px;
    margin-right: 22px;
    float: left
}

.comment-module .comment-content .comment-contain {
    width: 800px;
    height: 149px;
    font-size: 16px
}

.comment-module .comment-content {
    width: 100%;
    height: auto
}

.comment-module .comment-content .comment-content-header {
    width: 100%;
    height: 36px;
    line-height: 36px;
    margin-top: 24px
}

.comment-module .comment-content span {
    display: block;
    float: left
}

.comment-module .comment-content .comment-content-header .comment-img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #ccc
}

.comment-module .comment-content .comment-content-header .comment-people {
    width: 88px;
    margin-left: 20px;
    font-size: 14px
}

.comment-module .comment-content .comment-content-header .date {
    font-size: 12px;
    margin-left: 10px;
    color: #a3a3a3
}

.comment-module .comment-content .comment-content-header img {
    width: 15px;
    height: 15px
}

.comment-module .comment-content .comment-content-body {
    height: 50px;
    line-height: 50px;
    padding-left: 56px;
    font-size: 14px
}

.comment-module .comment-content .comment-content-footer {
    height: 22px;
    line-height: 22px
}

.comment-module .comment-content .comment-content-footer .comment-icon {
    width: 15px;
    height: 22px;
    margin-left: 630px
}

.comment-module .comment-content .comment-content-footer .comment-text {
    margin-left: 6px
}

.comment-module .comment-content .comment-content-footer .praise-icon {
    margin-left: 48px;
    margin-right: 6px
}

.index-module-title {
    width: 100%;
    height: 20px;
    line-height: 20px;
    font-size: 20px;
    margin-bottom: 22px
}

.index-module-title span {
    display: block;
    width: 3px;
    height: 20px;
    background: #62C3A5;
    float: left
}

.index-module-title h3 {
    font-size: 20px;
    margin-left: 15px;
    float: left;
    color: #292929
}

.index-module-title a {
    font-size: 18px;
    color: #62C3A5;
    font-weight: 400;
    margin-left: 24px;
    cursor: pointer
}

.index-module-title-img {
    width: 300px;
    height: 138px;
    position: relative;
    background: url(http://oawjg6eb7.bkt.clouddn.com/images/11.jpg);
    cursor: pointer
}

.index-module-title-img span {
    position: absolute;
    left: 10px;
    bottom: 12px;
    color: #fff;
    z-index: 999;
    font-size: 14px
}

.index-module-title-shadow {
    width: 100%;
    height: 36px;
    line-height: 36px;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #000;
    opacity: .5;
    filter: alpha(opacity=50);
    z-index: 99
}

.index-module-title-shadow span {
    color: #fff;
    display: inline-block;
    z-index: 999;
    position: absolute;
    left: 0
}

.index-module-line {
    width: 300px;
    height: 217px;
    background: #fafafa
}

.index-header .header-right ol li div.first,.index-header .header-right ol li div.second {
    background-image: url(http://ob0qnc68y.bkt.clouddn.com/images/header-right-icon.png);
    left: 50%;
    width: 12px;
    height: 12px;
    position: absolute
}

.index-module-line p {
    width: 100%;
    height: 14px;
    font-size: 14px;
    margin-top: 13px;
    margin-left: 10px
}

.index-module-content {
    width: 100%;
    height: auto;
    position: relative
}

.index-module-content .index-content-single {
    width: 100%;
    height: 138px;
    margin-bottom: 42px
}

.index-module-content .index-content-single a {
    display: block;
    width: 100%;
    height: 100%
}

.index-module-content .index-module-content-left {
    width: 230px;
    height: 138px;
    margin-right: 40px;
    float: left;
    cursor: pointer
}

.index-module-content .index-module-content-left img {
    width: 100%;
    height: 100%
}

.index-module-content .index-module-content-right {
    width: 586px;
    height: 100%;
    float: left;
    font-size: 14px;
    position: relative;
    overflow: hidden;
    text-align: justify
}

.index-module-content-header {
    font-size: 20px;
    color: #333;
    width: 100%;
    line-height: 1.5;
    display: block;
    cursor: pointer
}

.index-module-content-header p {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer
}

.index-module-content-header p:hover {
    color: #62C3A5
}

.index-module-content-aside,.index-module-content-aside2 {
    color: #a3a3a3;
    margin-top: 9px;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 15px;
    height: 15px
}

.index-module-content-aside {
    width: 100%;
    position: relative
}

.index-module-content-aside span {
    display: block;
    width: 15px;
    height: 15px;
    line-height: 15px;
    position: absolute
}

.index-module-content-aside .date-icon {
    width: 15px;
    height: 15px;
    left: 0
}

.index-module-content-aside .date-icon img {
    width: 15px;
    height: 15px
}

.index-module-content-aside .date {
    width: 83px;
    left: 20px
}

.index-module-content-aside .praise-icon {
    width: 15px;
    height: 15px;
    left: 140px
}

.index-module-content-aside .praise-icon img {
    width: 15px;
    height: 15px
}

.index-module-content-aside .praise-count {
    width: 42px;
    left: 160px
}

.index-module-content-aside2 {
    width: 100%;
    position: relative
}

.index-module-content-aside2 span {
    display: block;
    width: 15px;
    height: 15px;
    line-height: 15px;
    position: absolute
}

.index-module-content-aside2 .date-icon2 {
    width: 15px;
    height: 15px;
    right: 148px
}

.index-module-content-aside2 .date-icon2 img {
    width: 15px;
    height: 15px
}

.index-module-content-aside2 .date2 {
    width: 73px;
    right: 68px
}

.index-module-content-aside2 .praise-icon2 {
    width: 15px;
    height: 15px;
    right: 50px
}

.index-module-content-aside2 .praise-icon2 img {
    width: 15px;
    height: 15px
}

.index-module-content-aside2 .praise-count2 {
    width: 42px;
    right: 0
}

.index-module-content .index-module-content-right .index-module-content-body {
    font-size: 14px;
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    line-height: 24px;
    color: #818181;
    word-wrap: break-word;
    overflow: hidden
}

.index-module-content hr {
    border: 1px solid #eee;
    width: 855px;
    margin-top: 20px
}

.container,.index-header {
    width: 100%;
    position: relative
}

.index-module-content .index-content-single:last-child hr {
    border: 0
}

body,html {
    height: 100%
}

.container {
    min-height: 100%
}

.index-header {
    height: 66px;
    margin: 0 auto;
    color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,.12)
}

.index-header .top-header {
    width: 1200px;
    height: 75px;
    margin: 0 auto;
    position: relative
}

.index-header .header-logo {
    width: 196px;
    height: 40px;
    float: left;
    margin-left: 10px;
    padding: 22.5px 0
}

.index-header p.beta {
    width: 40px;
    height: 75px;
    line-height: 75px;
    font-size: 12px
}

.index-header .header-logo img {
    width: 196px;
    height: 28px
}

.index-header ul {
    width: 635px;
    height: 44px;
    position: absolute;
    left: 240px;
    top: 29px;

}
.index-header ul li {
    margin-right: 30px;
    width: 40px;
    height: 38px;
    float: left;
    text-align: center;
}
.index-header ul li a {
    display: block;
    width: 100%;
    font-size: 17px;
    color: #666;
}
.index-header .header-right {
    margin-left: 903px;
    padding-top: 22px;
    height: 100%;
    position: relative;
    color: #666
}

.index-header .header-right-white,.index-header .header-right-white span {
    color: #fff!important
}

.index-header .header-right-white .logo-out:hover span {
    color: #35ac84!important
}

.index-header .header-right-white span {
    color: #fff
}

.index-header .header-right-white li {
    color: #fff!important
}

.index-header .header-right .user-personal-btn {
    width: 136px;
    position: relative;
    left: -10px;
    text-align: center;
    font-size:12px;
}

.index-header .header-right ol li {
    float: left;
    width: 50px;
    height: 52px;
    cursor: pointer;
    text-align: center;
    position: relative;
    margin-right: 20px
}

.index-header .header-right ol li:hover {
    color: #35ac84!important
}

.index-header .header-right ol li p {
    margin-top: 20px;
    font-size: 12px
}

.index-header .header-right ol li div.first {
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    overflow: hidden
}

.index-header .header-right ol li div.second {
    display: none;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    overflow: hidden
}

.index-header .header-right ol li:nth-child(1) div.first {
    background-position: 0 0
}

.index-header .header-right ol li:nth-child(1) div.first-white {
    background-position: 0 -44px
}

.index-header .header-right ol li:nth-child(1) div.second {
    background-position: 0 -22px
}

.index-header .header-right ol li:nth-child(2) div.first {
    width: 15px!important;
    background-position: -22px 0
}

.index-header .header-right ol li:nth-child(2) div.first-white {
    width: 15px!important;
    background-position: -22px -44px
}

.index-header .header-right ol li:nth-child(2) div.second {
    width: 15px!important;
    background-position: -22px -22px
}

.index-header .header-right ol li:nth-child(3) div.first {
    width: 13px!important;
    background-position: -47px 0
}

.index-header .header-right ol li:nth-child(3) div.first-white {
    width: 13px!important;
    background-position: -47px -44px
}

.index-header .header-right ol li:nth-child(3) div.second {
    width: 13px!important;
    background-position: -47px -22px
}

.index-header .header-right ol li:nth-child(4) div.first {
    width: 13px!important;
    background-position: -70px 0
}

.index-header .header-right ol li:nth-child(4) div.first-white {
    width: 13px!important;
    background-position: -70px -44px
}

.index-header .header-right ol li:nth-child(4) div.second {
    width: 13px!important;
    background-position: -70px -22px
}

.index-header .header-right .logo-out {
    z-index: 1000;
    cursor: pointer;
    position: absolute;
    left: 178px
}

.index-header .header-right .logo-out:hover span {
    color: #35ac84
}

.index-header .header-right .logo-out div {
    width: 12px;
    height: 12px;
    background-image: url(http://ob0qnc68y.bkt.clouddn.com/images/header-right-icon.png);
    margin-top: 5px;
    display: inline-block;
    position: relative;
    top: 2px
}

.index-header .header-right .logo-out div.first {
    background-position: -92px 0
}

.index-header .header-right .logo-out div.second {
    background-position: -92px -22px
}

.index-header .header-right .header-right-search {
    position: absolute;
    width: 302px;
    height: 42px;
    display: none;
    left: -46px;
    top: 42px;
    z-index: 9999;
}

.index-header .header-right .header-right-weixin {
    width: 98px;
    height: 90px;
    background: #fff;
    border: 1px solid #eee;
    position: absolute;
    top: 42px;
    left: -25px;
    text-align: center;
    display: none;
    z-index: 1000
}

.index-header .header-right .header-right-weixin img {
    margin-top: 5px
}

.index-header .header-right .header-right-weixin b {
    font-weight: 400;
    display: block;
    color: #666;
    font-size:12px;
    margin-top:-3px;
}

.index-header .header-right .header-right-search img {
    position: absolute;
    right: 14px;
    top: 11px;
    cursor: pointer
}

.index-header .header-right .logo-out img {
    position: absolute;
    left: 46px!important;
    top: 10px!important
}

.index-header .header-right input {
    width: 302px;
    height: 42px;
    line-height: 42px;
    border: 1px solid #eee;
    padding-left: 15px;
    font-size: 14px
}

.index-header .header-right span {
    margin-left: 22px;
    font-size: 14px
}

.index-header .header-right .logo-out span {
    font-size: 12px;
    margin-left: 8px;
    color: #666
}

.index-header .header-right span:hover {
    color: #62C3A5
}

.index-header .header-right span.user-personal-btn {
    display: block;
    width: 160px;
    height: 75px;
    line-height: 75px;
    right: 0;
    color: #C3C3C3;
    position: absolute;
    bottom: 0;
    text-align: right
}

.go-to-top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: none;
    cursor: pointer;
    z-index: 999
}

.fengyun-list .header li span,.fengyun-list .header ul a {
    display: block
}

.fixed-bottom {
    width: 1200px;
    height: 234px
}

.footer,.index-footer {
    height: 134px;
    background: #505050
}

.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 999
}

.index-footer {
    width: 1200px;
    margin: 0 auto;
    color: #fff;
    position: relative
}

.index-footer ul {
    padding-top: 36px;
    font-size: 14px
}

.index-footer ul li {
    float: left;
    margin-right: 60px
}

.index-footer ul li a {
    color: #fff
}

.index-footer .copyright {
    margin-top: 35px;
    font-size: 12px
}

.index-footer .copyright p {
    margin-bottom: 15px
}

.index-footer .footer-right {
    width: 108px;
    height: 100px;
    position: absolute;
    right: 24px;
    top: 18px;
    text-align: center
}

.index-footer .footer-right p {
    margin-top: 8px;
    font-size: 12px
}

.fengyun-list .header {
    width: 1200px;
    height: 303px;
    text-align: center;
    margin: 0 auto;
    background: #fff
}

.fengyun-list .header ul {
    width: 100%;
    height: 263px;
    padding-top: 36px;
    border-top: 4px solid #62C3A5
}

.fengyun-list .header li {
    width: 196px;
    height: 263px;
    float: left;
    margin-left: 36px;
    background: #fff;
    z-index: 999;
    box-shadow: 0 4px 5px rgba(0,0,0,.12);
    cursor: pointer;
    border: 2px solid #d5ddde;
    border-top: 4px solid #C7C7C7
}

.fengyun-list .header li a {
    display: block;
    width: 100%;
    height: 100%
}

.fengyun-list .header li h3 {
    font-size: 18px;
    color: #292929;
    margin: 21px auto 10px
}

.fengyun-list .header li span.city {
    margin-top: 9px;
    font-size: 24px;
    color: #353535
}

.fengyun-list .header li span.num {
    margin-top: 12px;
    font-size: 42px;
    color: #62C3A5
}

#m1 span {
    background: #62C3A5!important
}

.validate {
    width: 340px;
    height: 390px;
    border-radius: 10px;
    position: relative
}

.validate .validate-top {
    margin: 20px;
    width: 300px;
    height: 149px;
    position: relative;
    text-align: center
}

.validate .validate-top img {
    width: 300px;
    height: 149px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1
}

.validate .validate-top p.one {
    height: 24px;
    line-height: 24px;
    font-size: 24px;
    color: #fff;
    position: relative;
    top: 49px
}

.validate .validate-top p.two {
    height: 18px;
    line-height: 18px;
    font-size: 18px;
    color: #fff;
    position: relative;
    top: 80px
}

.validate .validate-error-img {
    position: absolute;
    right: 12px;
    top: 224px;
    display: none
}

.validate .drag-slide {
    color: #666;
    font-size: 14px;
    height: 14px;
    line-height: 14px;
    padding-left: 30px
}

.validate .validate-complete {
    text-align: center;
    color: #62C3A5;
    font-size: 16px;
    margin-top: 30px;
    display: none
}

.validate .validate-error {
    color: red!important
}

.kill-ie {
    width: 100%;
    height: 100%;
    position: relative
}

.kill-ie .kill-ie-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0
}

.kill-ie .kill-ie-content {
    width: 1200px;
    height: 500px;
    position: absolute;
    color: #fff;
    left: 50%;
    top: 200px;
    margin-left: -600px;
    text-align: center
}

.kill-ie .kill-ie-content h3 {
    font-size: 38px
}

.kill-ie .kill-ie-content p {
    font-size: 20px;
    margin-top: 26px
}

.kill-ie .kill-ie-content ul {
    margin: 50px auto 0;
    width: 420px
}

.kill-ie .kill-ie-content ul li {
    float: left;
    width: 200px
}

.kill-ie .kill-ie-content ul li a {
    display: inline-block;
    width: 100%;
    height: 100%
}

.kill-ie .kill-ie-content ul li img {
    width: 52px;
    height: 52px
}

.kill-ie .kill-ie-content ul li span {
    display: block;
    margin-top: 20px;
    color: #fff;
    font-size: 14px
}
.pagination{
    position:absolute;
    left:50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}
.pagination li{
    float:left;
}

.pagination li a{
    color: #999;
    border:1px solid #e1e1e1;
    border-right:0;
    padding:9px 13px;
    font-size:12px;
}

.pagination li:last-child a{
    border-right:1px solid #e1e1e1;
}

.pagination li.active a{
    background:#35AC84;
    color:#fff;
    border:1px solid #35AC84;
}
.pagination li.active a:hover{
    background:#36C393;
    color:#fff !important;
}
.pagination-common{

    height:30px;
    margin:20px auto 50px;
    position:relative;
    left:50%;
    transform:translateX(-50%);
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);

}
.header-right ol li:nth-child(1):hover .header-right-search{
    display:block;
}
