#map-intro, .full-view ul, .map-intro {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000, endColorstr=#66000000)
}

.full-view {
    width: 100%;
    min-width: 1200px;
    height: 462px;
    position: relative;
    text-align: center;
    margin: 0 auto
}

.full-view iframe.view {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999
}

.no-view-img {
    width: 100%;
    height: 462px;
    position: absolute;
    left: 0;
    top: 0;
    display: none
}

.no-view-img img.bg {
    width: 100%;
    height: 100%
}

.no-view-img .content {
    width: 1200px;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -600px
}

.no-view-img .content img {
    width: 572px;
    height: 376px;
    position: absolute;
    left: 54px;
    bottom: 0
}

.no-view-img .content .update-content {
    position: absolute;
    left: 650px;
    top: 179px;
    color: #fff
}

.no-view-img .content .update-content h3 {
    font-size: 30px;
    color: #fff
}

.no-view-img .content .update-content h3 b {
    font-weight: 400;
    color: #fc8807
}

.no-view-img .content .update-content p {
    font-size: 18px;
    height: 30px;
    line-height: 30px;
    text-align: left
}

.no-view-img .content .update-content p.divider {
    width: 295px;
    height: 1px;
    background: #fff;
    margin-top: 26px;
    opacity: .5
}

.no-view-img .content .update-content p span {
    display: block;
    float: left
}

.no-view-img .content .update-content p a {
    color: #fc8807;
    display: block;
    float: left;
    width: 90px;
    height: 100%;
    border-bottom: 1px solid #fc8807;
    margin-left: 10px
}

.no-view-img .content .update-content p.try {
    margin-left: 70px;
    margin-top: 20px
}

.full-view ul {
    position: absolute;
    left: 36px;
    top: 50px;
    width: 99px;
    height: 337px;
    background: rgba(0, 0, 0, .4);
    z-index: 999
}

.full-view ul li {
    width: 66px;
    height: 51px;
    border-bottom: 1px solid rgba(255, 255, 255, .2) !important;
    border-bottom: 1px solid #fff;
    text-align: center;
    position: relative;
    margin: 0 auto;
    padding-top: 10px
}

.full-view ul li:first-child {
    height: 64px;
    padding-top: 20px
}

.full-view ul li:last-child {
    border-bottom: 0
}

.full-view ul li span {
    display: block;
    width: 64px;
    height: 16px;
    line-height: 1;
    margin: 0 auto;
    text-align: center;
    font-size: 12px;
    color: #fff;
    z-index: 999
}

.full-view ul li b {
    display: block;
    height: 18px;
    margin-top: 5px;
    line-height: 1;
    font-weight: 400;
    color: #62C3A5;
    font-size: 14px
}

.full-view .header {
    position: absolute;
    width: 630px;
    height: 60px;
    left: 50%;
    margin-left: -315px;
    line-height: 36px;
    cursor: pointer;
    top: 0;
    z-index: 999
}

.full-view .header .top {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto
}

.full-view .header h3 {
    font-size: 24px;
    height: 24px;
    line-height: 40px;
    color: #fff;
    display: inline;
    text-align: center
}

.full-view .header img {
    margin-left: 8px;
    z-index: 11
}

.full-view .header img.arrow-bottom {
    display: none
}

.full-view .header img:hover {
    cursor: pointer
}

.full-view .text {
    text-align: justify;
    width: 622px;
    height: 128px;
    padding: 16px;
    position: absolute;
    top: 39px;
    left: 50%;
    margin-left: -311px;
    color: #fff;
    background: rgba(0, 0, 0, .4) !important;
    font-size: 14px;
    line-height: 1.54;
    display: none;
    z-index: 999
}

#map, .dj_webkit, .dj_webkit body {
    height: 100%;
    width: 100%;
    overflow: hidden
}

#map {
    padding: 0;
    margin: 0;
    position: fixed;
    left: 0;
    top: 0
}

#map_attr a {
    margin: 15px
}

#mapchange_btn {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 99
}

#mapchange_btn img {
    width: 35px;
    height: 35px
}

#attribute-show {
    text-align: left;
    width: 100%;
    height: 116px;
    position: absolute;
    bottom: 0;
    z-index: 999;
    background: #fff
}

#attribute-show div {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1
}

#attribute-show div img.map-top-shadow {
    width: 100%;
    height: 11px;
    position: absolute;
    top: -12px;
    left: 0;
    z-index: -1
}

#attribute-show div img.map-circle {
    position: absolute;
    right: 22px;
    top: -16px;
    cursor: pointer
}

#attribute-show p {
    height: 16px;
    line-height: 16px;
    font-size: 14px;
    margin-top: 17px
}

#attribute-show p img {
    width: 16px;
    height: 16px;
    display: block;
    float: left;
    margin-left: 35px
}

#attribute-show p span {
    display: block;
    float: left;
    margin-left: 10px
}

#attribute-show p b {
    display: block;
    font-weight: 400;
    float: left;
    margin-left: 10px
}

.full-view .text a {
    position: absolute;
    right: 16px;
    color: #62C3A5
}

#map-intro, .map-intro {
    width: 292px;
    height: 462px;
    position: absolute;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .4);
    text-align: center;
    z-index: 999
}

#map-intro #map-location, #map-intro .map-location {
    width: 260px;
    height: 324px;
    position: absolute;
    right: 16px;
    top: 66px;
    background: #fff;
    z-index: 999
}

#map-intro #map-location iframe {
    width: 100%;
    height: 324px
}

#map-intro div.expand-btn {
    width: 260px;
    height: 30px;
    line-height: 30px;
    background: #62C3A5;
    color: #fff;
    position: absolute;
    bottom: 20px;
    left: 16px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    z-index: 99
}

#map-intro .town-name {
    width: 260px;
    height: 19px;
    position: absolute;
    left: 16px;
    top: 28px;
    text-align: center
}

#map-intro .town-name p {
    float: left
}

#map-intro .town-name p.line {
    width: 60px;
    height: 1px;
    background: #62C3A5;
    position: absolute;
    top: 9px
}

#map-intro .town-name p.town-name-2 {
    color: #fff;
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%)
}

#map-intro .map-arrow {
    width: 29px;
    height: 29px;
    border-radius: 3px;
    position: absolute;
    left: 0;
    top: 0;
    background: #62C3A5;
    z-index: 10000;
    display: none;
    cursor: pointer
}

#map-intro .top-arrow {
    width: 22px;
    height: 22px;
    display: none;
    position: absolute;
    right: 286px;
    bottom: 291px;
    z-index: 1000;
    cursor: pointer;
    background: #88877F
}

#map-intro .top-arrow:hover {
    background: #2A2A2A;
    opacity: .8
}

#map-intro .retraction-arrow {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 0;
    background: #ccc;
    cursor: pointer;
    z-index: 1000
}

#map-intro .retraction-arrow img {
    margin-top: 4px
}

.map-left-arrow {
    width: 84px;
    height: 80px;
    position: absolute;
    top: 50%;
    right: 40px;
    margin-top: -40px;
    z-index: 999;
    cursor: pointer;
    display: none;
    animation: mapArrowMove 1.5s infinite;
    -moz-animation: mapArrowMove 1.5s infinite
}

@keyframes mapArrowMove {
    from {
        right: 0
    }
    to {
        right: 50px
    }
}

@-webkit-keyframes mapArrowMove {
    from {
        right: 0
    }
    to {
        right: 50px
    }
}

.map-left-arrow p {
    width: 84px;
    height: 20px;
    color: #fff;
    display: none;
    font-size: 12px
}

.map-left-arrow:hover p {
    display: block
}

.loading-img {
    width: 850px;
    margin-top: 30px;
    text-align: center
}

.inf-detail {
    position: relative;
    width: 1200px;
    min-height: 840px;
    margin: 28px auto 0
}

.inf-detail-main-left {
    width: 56px;
    position: relative
}

.inf-detail-main-middle {
    width: 800px;
    height: auto;
    margin-left: 60px;
    min-height: 1050px
}

.inf-detail-main-middle a {
    text-decoration: underline;
    color: #62C3A5
}

.inf-detail-main-middle h4 {
    font-size: 20px
}

.inf-detail-main-middle h3 {
    font-size: 28px;
    color: #292929;
    margin-top: 20px;
    text-align: left
}

.inf-detail-main-middle .middle-img {
    width: 744px;
    height: 418px;
    position: relative;
    margin-left: 14px;
    margin-top: 18px
}

.inf-detail-main-middle .middle-img img {
    width: 744px;
    height: 418px;
    position: absolute;
    left: 0;
    top: 0
}

.inf-detail-main-text {
    margin-top: 60px;
    color: #292929;
    text-align: justify;
    font-size: 16px
}

.right-module-news {
    width: 300px;
    position: absolute;
    left: 900px;
    top: 0
}

.right-module-news ul {
    width: 100%;
    padding-top: 20px;
    background: #fafafa
}

.inf-index .inf-index-header .inf-index-header-left p, .inf-index .inf-index-header .inf-index-header-right p {
    background: rgba(0, 0, 0, .4) !important;
    left: 0;
    bottom: 0;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000, endColorstr=#66000000)
}

.right-module-news ul li {
    width: 272px;
    margin: 0 auto 20px;
    position: relative;
    border-bottom: 1px solid #cecece
}

.right-module-news ul li h3 {
    width: 100%;
    font-size: 18px;
    line-height: 1.5;
    position: relative;
    margin-bottom: 12px;
    text-align: left
}

.right-module-news ul li h3 a {
    display: block;
    width: 100%;
    cursor: pointer
}

.right-module-news ul li h3 a:hover {
    color: #62C3A5
}

.inf-index {
    width: 1200px;
    height: auto;
    margin: 29px auto 60px;
    position: relative
}

.inf-index .inf-index-header {
    width: 856px;
    height: 300px;
    position: relative;
    margin-bottom: 30px
}

.inf-index .inf-index-header .inf-index-header-left {
    width: 608px;
    height: 297px;
    float: left
}

.inf-index .inf-index-header .inf-index-header-left img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

.inf-index .inf-index-header .inf-index-header-left a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 16px
}

.inf-index .inf-index-header .inf-index-header-left p {
    width: 100%;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    font-size: 15px;
    position: absolute;
    color: #fff
}

.inf-index .inf-index-header .inf-index-header-right {
    width: 238px;
    float: left;
    margin-left: 10px;
    position: relative
}

.inf-index .inf-index-header .inf-index-header-right img {
    cursor: pointer
}

.inf-index .inf-index-header .inf-index-header-right a {
    position: relative;
    display: block;
    width: 100%;
    height: 143px !important;
    font-size: 16px
}

.inf-index .inf-index-header p {
    width: 100%;
    z-index: 99;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #fff
}

.inf-index .inf-index-header .inf-index-header-right a.first-img {
    display: block;
    width: 100%;
    height: 100%
}

.inf-index .inf-index-header .inf-index-header-right a img {
    width: 100%;
    height: 100%
}

.inf-index .inf-index-header .inf-index-header-right p {
    height: 30px;
    line-height: 30px;
    padding-left: 14px;
    position: absolute;
    color: #fff
}

.inf-index .inf-index-header .inf-index-header-right p span {
    position: relative;
    display: block;
    width: 100%
}

.inf-index .inf-index-header .inf-index-header-right a.second-img {
    display: block;
    width: 100%;
    height: 100%;
    margin-top: 11px
}

.bar-title {
    height: 22px;
    line-height: 22px
}

.bar-title .bar-orange {
    display: block;
    width: 4px;
    height: 20px;
    background: #62C3A5;
    float: left
}

.bar-title .name {
    margin-left: 15px;
    font-size: 18px;
    color: #62C3A5
}

.bar-title .name b {
    font-weight: 400;
    font-size: 14px
}

.industry-company .content {
    margin-top: 17px;
    font-size: 14px
}

.industry-company .content p {
    line-height: 1.5;
    color: #434343
}

.industry-company .main-business {
    margin-top: 29px
}

.loading-more {
    width: 200px;
    height: 40px;
    border: 1px solid #979797;
    border-radius: 2px;
    background: #fff;
    color: #272727;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    line-height: 38px;
    margin: 50px auto 0
}

.loading-more:hover {
    cursor: pointer;
    background: #2EAC85;
    color: #fff;
    border: 0;
    line-height: 40px
}

.about-expert-advertise {
    width: 100%;
    height: 330px;
    min-width: 1200px;
    position: relative
}

.about-expert-advertise img {
    width: 100%;
    height: 330px;
    min-width: 1200px;
    position: absolute;
    left: 0;
    top: 0
}

.about-expert-advertise div {
    width: 1200px;
    height: 100px;
    margin: 0 auto 0 -600px;
    font-size: 48px;
    position: absolute;
    left: 50%;
    top: 115px;
    color: #fff
}

.about-expert-advertise div span {
    width: 240px;
    height: 4px;
    background: #62C3A5;
    display: block;
    margin: 10px auto 0
}

.advertise {
    width: 1200px;
    margin: 40px auto 0
}

.advertise h3 {
    font-weight: 400
}

.advertise .advertise-common {
    margin-top: 40px
}

.advertise .advertise-common p {
    margin-top: 5px
}

.about-us {
    width: 1200px;
    margin: 40px auto
}

.about-us .about-us-content {
    margin-top: 32px;
    line-height: 1.69
}

.about-us .about-contact-us {
    margin-top: 48px;
    line-height: 1.69
}

.expert-team {
    width: 1200px;
    margin: 40px auto
}

.expert-team .team-detail {
    margin-bottom: 82px
}

.expert-team .team-detail ul {
    width: 1200px;
    margin-top: 40px;
    overflow: hidden;
    padding-bottom: 16px
}

.expert-team .team-detail ul li.expert-normal {
    float: left;
    width: 248px;
    height: 362px;
    cursor: pointer;
    margin-right: 67px;
    background-color: #fff;
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, .2);
    transition: all .3s
}

.expert-team .team-detail ul li img {
    width: 248px;
    height: 248px;
    overflow: hidden
}

.expert-team .team-detail ul li img:hover {
    cursor: pointer
}

.expert-team .team-detail .people-short .people-name {
    height: 16px;
    font-size: 18px;
    line-height: .89;
    color: #4d4d4d;
    margin-top: 12px
}

.expert-team .team-detail .people-short p {
    margin-top: 8px;
    font-size: 14px
}

.expert-team .team-detail .people-short .people-name h3 {
    display: inline-block;
    font-size: 18px;
    font-weight: 500
}

.expert-team .team-detail .people-short .people-name b {
    display: inline-block;
    font-weight: 500
}

.expert-team .team-detail ul li .people-short {
    width: 248px;
    text-align: center
}

.expert-team .team-detail .people-detail .people-name {
    height: 16px;
    font-size: 18px;
    line-height: .89;
    color: #4d4d4d;
    margin-top: 10px;
    margin-bottom: 21px
}

.expert-team .team-detail .people-detail {
    margin-top: 40px;
    color: #4d4d4d
}

.expert-team .team-detail .people-detail .people-name h3 {
    display: inline-block;
    font-size: 18px
}

.expert-team .team-detail .people-detail .people-name b {
    display: inline-block
}

.expert-team .team-detail .people-detail p {
    width: 100%;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 0
}

.expert-team .expert-team-expand {
    display: block
}

.expert-team .expert-team-expand ul {
    display: none;
    position: relative
}

.expert-team .expert-team-expand ul .li-left {
    height: 362px;
    margin-left: 200px;
    display: inline-block;
    position: relative
}

.expert-team .expert-team-expand ul .li-left:hover {
    margin-left: 0
}

.expert-team .expert-team-expand ul .li-left img {
    height: 362px;
    float: left;
    position: absolute;
    top: 0
}

.expert-team .expert-team-expand ul .li-right {
    width: 952px;
    height: 362px;
    text-align: left;
    font-size: 16px;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    padding-left: 52px;
    background-color: #fff;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, .1)
}

.expert-team .expert-team-expand ul .li-right button {
    padding: 8px 5px;
    position: absolute;
    right: 20px;
    top: 30px;
    background: #62C3A5;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px
}

.expert-team .team-detail li.li-right p.people-brief {
    margin-top: 16px;
    line-height: 16px;
    font-size: 20px;
    color: #4d4d4d;
    font-weight: 500
}

.expert-team .team-detail li .position {
    font-size: 18px;
    margin-left: 40px;
    font-weight: 400
}

.build-town-intro {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    ovefflow: hidden;
    text-align: center
}

.build-town-intro div {
    position: absolute;
    color: #62C3A5;
    font-size: 12px;
    cursor: pointer
}

.build-town-intro div a {
    display: block;
    font-size: 12px;
    color: #62C3A5
}

.build-town-intro div.first-look {
    width: 128px;
    height: 120px;
    left: 224px;
    top: 152px
}

.build-town-intro div.first-look a {
    position: absolute;
    right: 0;
    bottom: 0
}

.build-town-intro div.second-look {
    width: 128px;
    height: 135px;
    left: 537px;
    top: 152px
}

.build-town-intro div.second-look a {
    position: absolute;
    right: 0;
    bottom: 0
}

.build-town-intro div.third-look {
    width: 148px;
    height: 48px;
    left: 787px;
    top: 390px
}

.build-town-intro div.third-look a {
    position: absolute;
    top: 29px;
    left: 64px
}

.build-town-intro .fourth-look {
    width: 148px;
    height: 48px;
    left: 787px;
    top: 466px
}

.build-town-intro .fourth-look a {
    position: absolute;
    top: 29px;
    left: 64px
}

.build-town-policy {
    width: 1200px;
    margin: 48px auto 0;
    overflow: hidden
}

.build-town-policy ul li {
    float: left;
    height: 16px;
    line-height: 1;
    margin-bottom: 24px;
    width: 600px
}

.build-town-policy ul li span {
    display: block;
    width: 7px;
    height: 7px;
    margin-top: 3.5px;
    margin-right: 8px;
    border-radius: 50%;
    background: #4d4d4d;
    float: left;
    vertical-align: middle
}

.build-town-policy ul li a {
    display: block;
    float: left;
    width: 480px;
    height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.town-creste-breed {
    width: 1200px;
    margin: 0 auto
}

.town-build-qualify {
    width: 1200px;
    margin: 50px auto 0;
    overflow: hidden
}

.town-build-qualify ul {
    margin-top: 24px
}

.town-build-qualify ul li {
    width: 154px;
    height: 154px;
    margin-right: 34px;
    float: left
}

.town-policy {
    width: 1200px;
    margin: 20px auto 0;
    text-align: center
}

.town-policy h2 {
    margin-bottom: 30px
}

.town-policy div {
    text-align: left;
    margin-top: 30px
}

.town-policy p {
    font-size: 14px;
    text-align: justify;
    text-indent: 2em;
    margin-top: 10px;
    line-height: 2
}

.town-policy p.text-right {
    text-align: right;
    line-height: 1
}

.town-policy p span {
    margin-left: 15px
}

.town-policy iframe {
    width: 1150px;
    height: 600px
}

.loading-animation {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999999;
    background: rgba(0, 0, 0, .6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000, endColorstr=#66000000);
    display: none
}

.loading-animation img {
    width: 48px;
    height: 48px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -24px;
    margin-top: -24px;
    z-index: 1000000
}

.policy-detail {
    width: 1200px;
    margin: 20px auto 0;
    font-size: 14px
}

.policy-detail h3 {
    text-align: center;
    font-size: 18px
}

.policy-detail div {
    margin-top: 20px
}

.policy-detail p {
    line-height: 1.69
}